/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
$body-font:'Poppins', sans-serif;
$heading:'Poppins', sans-serif;

/*=========
Color Code
===========*/
$body-color: #2f3146;
$base-color: #6b59d3;

//basic variables
$theme-font-color: #2c2c2c;

//multisteps variables
$color-secondary: #6c757d;
$color-primary: #5756a2;
$color-blackis: #1a1a1a;
$btn-offset-vert: 20px;
$btn-circle-decor-dimensions: 30px;
